<div class="bg-carousel">
    <div class="carousel">

        
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/6a4bd44ffaf161a57850bd78a3ba34bc.jpg">
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/6f9eae6d32f743d460daf81e868cecbd.jpg">
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/bb5a7a2fc55370ae7e077a89bf11eeac.jpg">
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/d1d0b676224d9c2f15e5a6c18d76d9a9.jpg">
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/cd8edb2d6263e99c1b590cfeadd58db6.jpg">
        <img class="item" src="http://www.bupt.edu.cn/pluginres/picpush/2c306d9e3388c0bfe7170c4b46f7ae84.jpg">
        
        <!--
        <img class="item" src="images/6a4bd44ffaf161a57850bd78a3ba34bc.jpg">
        <img class="item" src="images/6f9eae6d32f743d460daf81e868cecbd.jpg">
        <img class="item" src="images/bb5a7a2fc55370ae7e077a89bf11eeac.jpg">
        <img class="item" src="images/d1d0b676224d9c2f15e5a6c18d76d9a9.jpg">
        <img class="item" src="images/cd8edb2d6263e99c1b590cfeadd58db6.jpg">
        <img class="item" src="images/2c306d9e3388c0bfe7170c4b46f7ae84.jpg">
        -->
    </div>

    <button class="prev">Prev</button>
    <button class="next">Next</button>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var el   = document.querySelector('.bg-carousel > .carousel');
        var prev = document.querySelector('.bg-carousel > .prev');
        var next = document.querySelector('.bg-carousel > .next');

        control = new Carousel(el, {
            autoPlay: true,
            zIndex: 900,
            autoPlayInterval: 8000,
            initDelay: 4000
        });

        prev && (prev.onclick = control.playPrev);
        next && (next.onclick = control.playNext);
    });
</script>