<footer <%- footerFixed ? 'class="fixed"' : '' %>>
    <p class="link-group">
        <a href="#">60周年校庆网站</a>
        <a href="#">校友会基金会</a>
        |
        <a href="#">沙河校区</a>
        <a href="#">宏福校区</a>
        <a href="#">延庆校区(世纪学院)</a>
        <a href="#">附属小学</a>
        |
        <a href="#">微博微信</a>
        <a href="#">贵州省.长顺县</a>
    </p>
    <p>
        版权所有 © 北京邮电大学  地址:北京市西土城路10号  邮编:100876  京ICP备 05064445号 京公网安备110402430070
    </p>
</footer>